.new-professional-detail-container {
  max-width: 800px;
  margin: 16px auto;
  padding: 24px;
  background: #f4f4f4; /* Fondo gris claro para un estilo minimalista */
  border: 1px solid #e0e0e0; /* Borde más claro que el fondo */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.new-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Borde redondeado para la imagen de perfil */
  object-fit: cover;
  margin-right: 24px;
}

.new-country-info,
.new-specialist-type {
  font-size: 1.2rem;
  color: #777; /* Texto gris más oscuro */
  margin-bottom: 12px;
}

.new-name-section h1 {
  font-size: 2.5rem;
  margin-bottom: 12px;
  color: #333; /* Título más oscuro */
}

.new-specialist-info p {
  margin: 16px 0;
  font-size: 1.3rem;
  color: #555;
}

.new-certification-section {
  margin-top: 24px;
  overflow-x: auto;
  white-space: nowrap;
}

.new-certification-image,
.modal-certification-image {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Estilos del modal */
.modal-certification-image {
  max-height: 80vh;
  margin: auto;
  display: block;
  border-radius: 12px;
}

.new-certification-image:hover {
  transform: scale(1.1);
}

body {
  background-color: #272727; /* Fondo oscuro para la página */
}

/* O si tienes un contenedor principal, puedes aplicar el fondo a él */
#app-container {
  background-color: #272727; /* Fondo oscuro para el contenedor principal */
}



/* styles admin */

.modal-titleAdmin{
  color: #333;
  padding: 1.5%;
  text-align: center;
}

.modal-bodyAdmin{
  color: #333;

}

.bodyAdmin{
  padding: 4%;
  text-align:justify
}


@media (max-width: 600px) {
  .new-profile-section {
    flex-direction: column;
    align-items: flex-start;
  }
  .new-profile-image {
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .new-name-section h1 {
    font-size: 2rem;
  }
  .new-specialist-info p {
    font-size: 1.1rem;
  }
  .new-certification-section {
    margin-top: 16px;
  }
  .new-certification-image,
  .modal-certification-image {
    max-width: 100%;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}


@media (max-width: 400px) {
  .new-name-section h1 {
    font-size: 1.8rem;
  }
  .new-specialist-info p {
    font-size: 1rem;
  }
}
