.snackbarAdmin{
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-110%);
    width: 350px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}


.snackbarAdmin .symbol{
    flex: 20%;   
}

.snackbarAdmin .message{
    flex:80%;
    text-align:start;
    font-weight: bold;
}

#showAdmin{
    visibility: visible;
    animation: fadein 0.1s, fadeout 0.1s 3s;
}

#hiddenAdmin{
    visibility: hidden;

}

@keyframes fadein {
    from{
        bottom: 61%;
        opacity: 0;
    }
    to{
        bottom: 59%;
        opacity: 1;
    }
}


@keyframes fadeout {
    from{
        bottom: 59%;
        opacity: 1;
    }
    to{
        bottom: 61%;
        opacity: 0;
    }
}
