.snackbarAdmin{
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-120%);
    width: 350px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}


.snackbarAdmin .symbol{
    flex: 20%;   
}

.snackbarAdmin .message{
    flex:80%;
    text-align:start;
    font-weight: bold;
}

#show{
    visibility: visible;
    animation: fadeIn 0.7s, fadeOut 0.5s 4s;
}

#hidden{
    visibility: hidden;

}

@keyframes fadeIn {
    from{
        bottom: 0;
        opacity: 0;
    }
    to{
        bottom: 65%;
        opacity: 1;
    }
}


@keyframes fadeOut {
    from{
        bottom: 80%;
        opacity: 1;
    }
    to{
        bottom: 0;
        opacity: 0;
    }
}
